.top-word:hover {
  letter-spacing: 70px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #00D1B1;
  font-size: 30px;
  margin-left: 108px;
  color: #000;
}

.top-word {
  letter-spacing: 70px;
  font-weight: bold;
  color: #00D1B1;
  text-shadow: 1px 1px 1px #000;
  font-size: 30px;
  margin-left: 108px;
}

.section {
  padding: 0px;
}

.is-one-quarter {
  background-color: #808080;
  flex: none;
  width: 25%;
}

.level {
  align-items: center;
  justify-content: space-between;
}

.searchFormCol {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pageLoadCol {
  justify-content: center;
  display: flex;
  min-height: 300px;
  text-align: center;
  padding: 0px;
}

nav {
  border-style: solid;
  border-color: #808080;
  border-width: 0px 0px 2px 0px;
}

#planner-form {
  width: 1000px;
  margin: auto;
  margin-top: 200px;
}

.background {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.welcome {
  font-size: 30px;
  padding-bottom: 15px;
}

.signup {
  margin-left: 25px;
}

.help {
  font-size: 15px;
}

.noFlights {
  font-size: 40px;
  text-align: center;
  color: #FFF;
  position: absolute;
  margin-top: 700px;
}
