.top-word {
  letter-spacing: 45px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #00D1B1;
}

.section {
  margin-top: 40px;
}

.is-one-quarter {
  background-color: #808080;
  flex: none;
  width: 25%;
}

.level {
  align-items: center;
  justify-content: space-between;
}

.searchFormCol {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formWrapper {
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.pageLoadCol {
  justify-content: center;
  display: flex;
  min-height: 300px;
  text-align: center;
}

nav {
  border-style: solid;
  border-color: #808080;
  border-width: 0px 0px 2px 0px;
}


#planner-form {
  width: 1000px;
}
