.loading {
  width: 50px;
  height:40px;
  margin: 40px auto;
}

.loading--plane {
  width: 70px;
  stroke-dasharray: 425.59;
  stroke-dashoffset: 425.59;
  animation: plane-loading-animation 3s linear infinite;
}

@keyframes plane-loading-animation {
  50% {
    stroke-dashoffset: 425.59;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -425.59;
  }
}
