.fab, .creator {
  color: #fff;
}

.fab:hover,.creator:hover, .far:hover {
  color: #00D1B1;
}

.card {
  border-style: groove;
  border-radius: 8px;
  width: 75vw;
  margin: auto;
}

.plannertop {
  font-size: 50px;
  margin: auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.fab {
  padding: 3px;
}

.flashy {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flashmsg {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.price {
  align-items: center;
  text-align: center;
}

.holder {
  justify-content: center;
  margin-top: 500px;
}

.wrapper {
  width: 800px;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
